
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color:#fff;
  font-family: sans-serif;
 }

 html, body {
    overflow: auto;
    height: 100%;
}
/*navbar*/
/* Basic styling */

.social-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #000;
  padding-right: 1em;
  height:30px;
    }
.menu-bar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  background-color: #fff;
  padding: 30px;
    }

.brand {
  display:flex;
  justify-content: flex-start;
  padding-left: 1em;
}

.navbar {
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 1em;
    }



.item {
  width: auto;
  height: auto;
  display:flex;
  background: rgba(0, 0, 0, 0.005);
  color:#9e89b8;
  margin:10px;
  align-items:center;
  justify-content: center;
  text-transform: uppercase;
  
  }

/* navbar ends*/

  #hero {
  width: 750px;
  height: 300px;
  background: rgba(153, 204, 255, 0.6);
  background-size: cover;
  position: relative;
  justify-content: center;
  align-content: center;
  align-self: center;
  bottom: 0;
  top: 10px;
  left: 0;
  right: 0;
}
.hero {padding-top: 10px;}

#hero:before {
  content: "";
  position: absolute;
}

#hero .hero-container {
  position: relative;
  bottom: 0;
  top:5px;
  left: 0;
  right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
  text-align: center;
  margin-top: 10px;
}

#hero h1 {
  padding-top: 1rem;
  margin: 20px 0 10px 0;
  font-size: 2rem;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: purple;
}

#hero h2 {
  color: purple;
  margin-bottom: 50px;
  font-size: 24px;
}
#hero h4 {
  color: purple;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid white;
  color: purple;
}

#hero .btn-get-started:hover {
  background: white;
  border: 2px solid purple;
}

  .page-header ul {
    width: auto;
    margin-top: 0;
}

  .page-header .cta-contact {
    order: 1;
  }

:root {
  --main-white-color: white;
  --main-purple-color: #9e89b8;
}
 
.page-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding:30px;
  height: 100vh;
  /*background: var(--main-purple-color) url(image.jpg) no-repeat center / cover;*/
  background: url(assets/images/womanwithlaptop.webp) no-repeat center / cover;
 /* background-blend-mode: luminosity;*/
  color: var(--main-white-color);
  transition: 0.5s;
}
 
 .page-main {
  padding-top: 20px;
 }
.partners{
  background:rgb(236, 234, 234);
  margin-bottom: 30px;
  padding:30px;
}
.slidetrack{
  display:flex;
  height:200px;
  justify-content: space-around;
  align-items: center;
}

.slide{

justify-content: center;
align-items: center;

}

.slide img {

  border: 1px rgb(127, 112, 112) solid ;
  border-radius: 3px;
  
}
 /*why begins*/

.why {
  display:grid;
  gap: 20px;
  height:250px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.mission {
  justify-self: center;
  text-align: center;
}

.mission p {

margin-top:20px;
}

.mission2 {
  justify-self: center;
  text-align: center;
  }

  .mission2 p {

    margin-top:20px;
    }


/*why ends*/

.pillars {
  background-color: rgb(37, 34, 34);
  align-items: center;
  padding: 20px;
  color:#fff;
  text-align: center;
}

.container {
  max-width: 1060px;
  min-height: 200px;
  margin: 20px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  }

.itema {
  background: none;
  color: #000;
  font-size: 20px;
  padding: 20px;
  border: none;
  margin:20px;
  align-items: center;
      }

.itema img {
 border-radius: 3px;


}
.itemt {
      background: #ffff;
      color: #000;
      font-size: 20px;
      padding: 20px;
      border: none;
      margin:20px;
      max-width: auto;
      border-radius: 3px;
      margin-top:40px;
              }
.itemt h3{
  color:purple;
  margin-bottom: 20px;
}


.new{
display:flex;
height:200px;
width:auto;
background-image: url(assets\images\joinus.jpg);
background-size: cover;


}
               
.pillarcontainer {
  max-width: 1060px;
  min-height: 200px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  }

  .getinvolvedwrapper {
    background-color: rgb(210, 199, 199);
    align-items: center;
    padding: 20px;
    color:#000;
    text-align: center;
  }
  
  .getinvolved {
    max-width: 1060px;
    min-height: 200px;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    }

    .newsletter {
      background-color: rgb(210, 199, 199);
      align-items: center;
      padding: 20px;
      color:#000;
      text-align: center;
    }

   
  

.page-footer {
  background-color: #000;
  color:#fff;
  height: 50px;
  padding:10px;
  text-align: center;
  align-self: center;
}
  

/*Responsiveness*/
/* Media queries 1*/


/* Media queries 2*/
